@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --cor1: #BD3537;
    --cor2: #0E7D4F;
    --cor3: #FFF0D9; 
    --fonteTitulo: "Cinzel Decorative"; 
    --fonteTexto: "Open Sans";
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonteTexto);
}

.boas-vindas, .efeito, .efeito1, .efeito2, .efeito3{
    visibility: hidden;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows:  300px 1fr 30px;
    grid-template-columns: 1fr;
    grid-template-areas: "cabecalho" "produtos" "pedidos";
}

@media (min-width: 768px){
    body{
        grid-template-rows:  200px 1fr 30px; 
    }
}

h1{
    font-family: var(--fonteTitulo);
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.372);
}

h2{
    font-family: var(--fonteTitulo);
    font-weight: 500;
    padding: 10px;
}
header{
    grid-area: cabecalho;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor2);
}

.boas-vindas{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


main{
    grid-area: produtos;
    background-color: var(--cor3);
    padding-top: 20px;
}
.tradicionais{
    padding-top: 10px;
    padding-bottom: 50px;
}

.especiais{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000;
    color: white;
}


.pizzas{
    display: flex;
    flex-flow: column;
    align-items: center;
}

@media (min-width: 1155px){
    .pizzas{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;
    }
    .descricao-pizza:hover{
        background-color: black;
        color: white;
    }
    .especiais .descricao-pizza:hover{
        background-color: var(--cor3);
        color: #000;
    }
    .comprar:hover{
        background-color: var(--cor2);
        transform: scale(1.1);
    }
    .item-pedido >.cancelar{
        position: absolute;
        right: 10px;
        border: none;
        padding: 3px;
    }
    .item-pedido >.cancelar:hover{
        background-color: var(--cor1);
        color: var(--cor3);
    }
    .carrinho{
        width: 60vw;
    }
    .carrinho > #fechar:hover{
        background-color: #f8f8f8;
    }
}

.img-pizza{
    width: 180px;
    height: 150px;
    border-radius: 6px;
}

.descricao-pizza{
    display: flex;
    align-items: center;
    padding:10px 10px 10px 10px ;
    margin:0px 10px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.237);
    border-radius: 10px;
}

.especiais .descricao-pizza{
    box-shadow: 0px 0px 7px #fff0d95f;
}



.descricao {
    display: flex;
    flex-flow: column;
    margin-left: 10px;
    max-width: 350px;
    font-size: .8rem;
}

.descricao > div {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.comprar{
    background-color: var(--cor1);
    color: var(--cor3);
    max-width: 80px;
    border: none;
    padding: 2px 3px 2px 5px;
    font-size: .9rem;
    font-weight: 700;
}

.material-symbols-outlined{
    margin-left: 5px;
   font-size: .8rem;
}

.carrinho-formato{
    background-color: rgba(0, 0, 0, 0.574);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: center;  
}

.carrinho{
    width: 90vw; 
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.313);
    position: relative;
}

.carrinho h3{
    font-size: 1.7rem;
}

#pedidos{
    background-color: #f8f8f8;
    ;
}

.item-pedido{
    margin-bottom: 10px;
}

.item-pedido >.cancelar{
    position: absolute;
    right: 10px;
    border: none;
    padding: 3px;
    background-color: var(--cor1);
    color: var(--cor3);
}

.carrinho > #fechar {
    position: absolute;
    left: 8px;
    bottom: 5px;
    color: black;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.carrinho > #confirmar{
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: var(--cor2);
    color: var(--cor3);
    border: none;
    padding: 4px;
    font-size: 1rem;
    
}

#botao-carrinho > .material-symbols-outlined{
    font-size: 1.7rem;
    z-index: 120;
    color: black;
}

#botao-carrinho{
    width: 50px;
    height: 50px;
    background-color: var(--cor3);
    border-radius: 50%;
    z-index: 100;
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.348);
    border: 3px solid var(--cor2);
}

#botao-carrinho:hover{
    transform: scale(1.1);
}

@keyframes animar{
    0% { rotate: 0deg;}
    40% {rotate: 10deg}
    60% {rotate: -10deg;}
    100% {rotate:0deg}
}

.animar {
    animation: animar 0.3s ease-in;
}

#cont-pedidos{
    color: var(--cor1);
    position: absolute;
    top: -8px;
    right: -5px;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #ff4d4d;
}

input{
    display: block;
    margin: 20px auto 40px auto;
    width: 80%;
    height: 2rem;
}

footer{
    grid-area: pedidos;
    background-color: var(--cor1);
    display: flex;
}
